body {
	background: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";

}

h1 {
	color: white;
	text-align: center;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	padding: 20px 0;
	text-transform: uppercase;
	transition: background 0.6s;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	font-size: inherit;
	letter-spacing: 1px;
	transition: all 0.3s;
	outline: none;
}

#rgbDisplay {
	display: block;
	font-size: 200%;
}

#container {
	margin: 20px auto;
	max-width: 650px;
}

.square {
	background: purple;
	width: 30%;
	padding-bottom: 30%; 
	margin: 1.666%;
	float: left;
	border-radius: 15%;
	transition: background 0.6s;
}

#stripe {
	background: rgb(255, 255, 255);
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	background: steelblue;
	color: white;
}

#answerStatus {
	display: inline-block;
	width: 20%;
}

button:hover {
	background: steelblue;
	color: white;
}